@page
@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@model IndexModel
@inject IStringLocalizer<IndexModel> localizer
@inject IHtmlLocalizer<IndexModel> htmlLocalizer
@{
    Layout = "_emptyLayout";
    ViewData["Title"] = "Home page";
    var url = Url.PageLink("Success");
    var urlBack = Url.PageLink("Index");

    @*var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;*@
    var culture = System.Globalization.CultureInfo.CurrentCulture;
}
<link href="~/lib/color-picker/color-picker.min.css" rel="stylesheet">
<style>
    textarea#result {
        background-color: #283440;
        color: #adb5bd;
    }

    .smaller {
        font-size: 0.9em;
    }

    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        background-color: #f16824 !important;
    }
</style>
<input id="webApiUrl" value="@Model.ApaymentWebApiUrl" type="hidden" />
<input id="webPayUrl" value="@Model.ApaymentWebPayUrl" type="hidden" />
<div class="navbar navbar-dark bg-primary"></div>
<div class="container body-content">
    @if (Model.ShowTestPage)
    {
        <div class="wrapper row">
            <div class="col-md-7">
                <div class="container-info">

                    <form form="EntryPoint" id="EntryPoint" method="post">

                        <input name="Authentication" id="Authentication" class="form-control" type="hidden" />
                        <h3 class="mt-5">
                            @htmlLocalizer["ShoppingCart"]
                        </h3>
                        <hr>

                        <h4>
                            @htmlLocalizer["Information"]
                        </h4>

                        <div class="form-row">
                            <div class="col-6">
                                <label class="control-label" for="SiteID">Client_id</label>
                                <input id="SiteID" name="SiteID" class="form-control" type="text" value="API-001" />
                            </div>
                            <div class="col-6">
                                <label class="control-label">Client_Secret</label>
                                <input id="Key" name="Key" class="form-control" type="text" value="Dynapay" />
                            </div>
                            <div class="col-6">
                                <label class="control-label" for="UserID">UserID</label>
                                <input name="UserID" id="UserID" type="text" value="User-47748" class="form-control text-box single-line"
                                       data-val="true" data-val-length="El campo IDUsuario debe contener 50 o menos caracteres" data-val-length-max="50" data-val-required="The UserID field is required." />
                                <span class="field-validation-valid text-danger" data-valmsg-for="UserID" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-6">
                                <label class="control-label" for="Names">Names</label>
                                <input name="Names" type="text" value="Johm Smith" class="form-control text-box single-line"
                                       data-val="true" data-val-length="The field Names must be a string with a maximum length of 120." data-val-length-max="120" data-val-required="The Nombres field is required." id="Nombres" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Names" data-valmsg-replace="true"></span>
                            </div>

                            <div class="col-6">
                                <label class="control-label" for="Email">Email</label>
                                <input id="Email" name="Email" type="text" value="j.smith@gmail.com" class="form-control text-box single-line"
                                       data-val="true" data-val-required="The Email field is required." />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </div>

                            <div class="col-6">
                                <label class="control-label" for="PhoneNumber">PhoneNumber</label>
                                <input id="PhoneNumber" name="PhoneNumber" type="text" value="8293244777" class="form-control text-box single-line" />

                            </div>

                            <div class="col-6">
                                <label class="control-label" for="Identification">Identification</label>
                                <input id="Identification" name="Identification" type="text" value="00520201129" class="form-control text-box single-line"
                                       data-val="true" data-val-length="The field Identificacion must be a string with a maximum length of 50." data-val-length-max="50" data-val-required="The Identificacion field is required." />
                                <span class="field-validation-valid text-danger"
                                      data-valmsg-for="Identification" data-valmsg-replace="true"></span>
                            </div>

                            <div class="col">
                                <label class="control-label" for="ReturnURL">ReturnURL (back)</label>
                                <input name="ReturnURL" type="text" value="@urlBack" class="form-control text-box single-line"
                                       data-val="true" data-val-length="The field ReturnURL must be a string with a maximum length of 200." data-val-length-max="200" data-val-required="The ReturnURL field is required." id="ReturnURL" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="ReturnURL" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-6">
                                <label class="control-label"
                                       for="SuccessURL">SuccessURL</label>
                                <input id="SuccessURL" name="SuccessURL" type="text" value="@url" class="form-control text-box single-line"
                                       data-val="true" data-val-length="The field SuccessURL must be a string with a maximum length of 200." data-val-length-max="200" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="SuccessURL" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <label class="control-label" for="Detail">@htmlLocalizer["Detail"]</label>
                                <textarea name="Detail" rows="4" id="Detail" class="form-control">{&quot;Payments&quot;:[{&quot;Items&quot;:[{&quot;Description&quot;:&quot;Service Invoice 122233&quot;,&quot;Quantity&quot;:&quot;1&quot;,&quot;Amount&quot;:100,&quot;Tax&quot;:0}],&quot;MerchantKey&quot;:&quot;TEST-001&quot;,&quot;Service&quot;:&quot;TBW9CVl7&quot;,&quot;MerchantName&quot;:&quot;Test Store&quot;,&quot;Description&quot;:&quot;Service Invoice 12233&quot;,&quot;Amount&quot;:123.55,&quot;Tax&quot;:0,&quot;Currency&quot;:&quot;840&quot;}]}</textarea>
                            </div>
                        </div>


                        <div class="form-row m-1 mb-2" style="font-size: 0.9em">
                            <div class="col-12 mb-2">
                                <h5>Options</h5>
                            </div>
                            <div class="row col-12 mb-3">
                                <div class="col-4">
                                    <label class="control-label" for="NoHeader">@htmlLocalizer["Display"]</label>
                                    <select id="NoHeader" name="NoHeader" class="form-control">
                                        <option value="0" selected>Full Page</option>
                                        <option value="1">IFRAME</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label class="control-label" for="BodyBackground">Background color Hex</label>
                                    <input class="form-control" type="text" id="BodyBackground" name="BodyBackground" value="#f8f9fa">
                                </div>
                                <div class="col-4">
                                    <label class="control-label" for="PrimaryColor">Primary Color Hex</label>
                                    <input class="form-control" type="text" id="PrimaryColor" name="PrimaryColor" value="#007bff">
                                </div>
                            </div>
                            <div class="col-4">
                                <label class="control-label">Disable Credit Card</label>
                                <input type="checkbox" name="Tc" value="false">
                            </div>
                            <div class="col-4">
                                <label class="control-label">Disable Ach</label>
                                <input type="checkbox" name="Ach" value="false">
                            </div>
                            <div class="col-4">
                                <label class="control-label">Disable Boton Popular</label>
                                <input type="checkbox" name="BtnPopular" value="false">
                            </div>
                            <div class="col-4">
                                <label class="control-label">Disable Boton Bhd</label>
                                <input type="checkbox" name="BtnBhd" value="false">
                            </div>
                            <div class="col-4">
                                <label class="control-label">Disable Wallet</label>
                                <input type="checkbox" name="ShowWallet" value="false">
                            </div>
                            <div class="col-4">
                                <label class="control-label">Disable Payment Options</label>
                                <input type="checkbox" name="ShowPaymentOptions" value="false">
                            </div>
                            <div class="col-6">
                                <label>Requires Customer Address</label>
                                <input type="checkbox" name="RequiresAddress" value="true" />
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col-offset-2 col-12">

                                <input class="btn btn-sm btn-info" type="submit" id="PaymentBtn" value="Send Payment" asp-asp-page="@Model.ApaymentWebPayUrl + '/Payment'" formmethod="post" asp-route-culture="@culture.Name" />
                                <input class="btn btn-sm btn-info" type="submit" Id="RegisterBtn" value="Register Card" formmethod="post"  />
                                <input class="btn btn-sm btn-info" type="submit" Id="JwtBtn" value="Check Jwt" />
                                <a class="btn btn-sm btn-warning" asp-page="index" asp-route-culture="es-US">@htmlLocalizer["Spanish"] es-US</a>
                                <a class="btn btn-sm btn-warning" asp-page="index" asp-route-culture="en-US">@htmlLocalizer["English"] en-US</a>
                            </div>
                        </div>
                        <div>
                            <label>OAuth JWT token</label>
                            <textarea id="token" name="token" rows="4" class="form-control"></textarea>
                        </div>



                    </form>
                    <form id="errorForm" asp-page="/Index" asp-route-culture="@culture.Name" method="post">
                    </form>

                    <div class="text-left row border rounded border-secondary mt-5">
                        <div class="col">
                            <p class="my-2">
                                @htmlLocalizer["Culture"] : @culture.DisplayName {@culture.Name}
                            </p>
                            <p class="my-2">
                                @htmlLocalizer["Date"] : @DateTime.Now.ToLongDateString()
                            </p>
                        </div>
                        <div class="col">
                            <p class="my-2">
                                @htmlLocalizer["Currency"]	: @(12345.00.ToString("c"))
                            </p>
                            <p class="my-2">
                                @htmlLocalizer["Number"] : @(123.45m.ToString("F2"))
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 text-center mb-auto mt-5 container-info">
                <div class="form-group">
                    <h5 for="result h3">Json Request</h5>
                    <textarea class="form-control smaller" id="result" rows="40"></textarea>
                </div>
            </div>
            <div class="result-frame" style="display: none; width: 100%">

                <h5> Message</h5>
                <textarea class="form-control" id="message" rows="5"></textarea>

                <iframe id="agilpay_frame" name="agilpay_frame" style="width: 100%; overflow: hidden; border: none;" height="623" scrolling="no"></iframe>

            </div>
            <div>
                <small><a href="~/IndexV59">v59 index</a></small>
            </div>
        </div>
    }
    else
    {
        <div class="jumbotron" style="background-color: white;">
            <a class="logo-dark" href="https://agilisa.com/" title="Agilisa Technologies" rel="home"><img style="width: 300px;" src="https://1k8wd3h7z7q8u0yu2uu7g5bt-wpengine.netdna-ssl.com/wp-content/uploads/2020/11/Agilisa-Logo-VH-2-2020-01.jpg" alt="Logo Dark"></a>
            <p class="lead">AgilPay is a secure high performance Payment Gateway powering agile business on a connected world </p>
            <p><a href="https://www.dynamicspayments.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>We bring together everything that’s required to build websites and apps that accept payments and send payouts globally</p>
            </div>
            <div class="col-md-4">
                <h2>Get more options</h2>
                <p>We’ve made selling online easy so you can grow your business</p>
            </div>
            <div class="col-md-4">
                <h2>Payments Processing</h2>
                <p>Accept international transactions from customers worldwide.</p>
            </div>
        </div>

    }

</div>

@section Scripts {
    <script src="~/lib/color-picker/color-picker.min.js"></script>

    <script>
        function isJson(str) {
            try {
                JSON.parse(str);
            } catch (e) {
                return false;
            }
            return true;
        }

        function prettyPrint() {
            let myForm = document.getElementById('EntryPoint');
            const formData = new FormData(myForm).entries();
            let jsonObject = {};

            for (const [key, value] of formData) {
                if (isJson(value))
                    jsonObject[key] = JSON.parse(value);
                else
                    if ((key != '__RequestVerificationToken') && (key != 'Key'))
                        jsonObject[key] = value;
            }

            var pretty = JSON.stringify(jsonObject, undefined, 4);
            document.getElementById('result').value = pretty;
        }

        (function () {
            document.getElementById('EntryPoint')
                .addEventListener('change', function () {
                    prettyPrint();
                });
            prettyPrint();



            let picker1 = new CP(document.getElementById('BodyBackground'));
            picker1.on('change', function (r, g, b, a) {
                this.source.value = this.color(r, g, b, a);
                prettyPrint();
            });
            let picker2 = new CP(document.getElementById('PrimaryColor'));
            picker2.on('change', function (r, g, b, a) {
                this.source.value = this.color(r, g, b, a);
                prettyPrint();
            });
        })();
    </script>

    <script>
        $(
            function () {
                $("#EntryPoint").on('submit', GenerateToken);
            }
        );

        var action = "p";

        var PaymentBtn = document.getElementById("PaymentBtn");
        var RegisterBtn = document.getElementById("RegisterBtn");
        var JwtBtn = document.getElementById("JwtBtn");

        PaymentBtn.addEventListener("click", () => action = "P");

        RegisterBtn.addEventListener("click", () => action = "R");

        JwtBtn.addEventListener("click", () => action = "Jwt");

        function testErrorPage(b) {
            document.getElementById("errorForm").submit();
        }

        // this should be done on server because #Key is a secret value
        function GenerateToken(event) {
            event.preventDefault();

            $('[type="submit"]', '#EntryPoint').attr('disabled', true);

            var pathName = window.location.pathname === "/" ? "" : window.location.pathname;
            var aux = pathName.charAt(pathName.length - 1) === "/" ? pathName.slice(0, -1) : pathName;

            var url = $('#webApiUrl').val() + "/oauth/paymenttoken";
            var webpayURL = $("#webPayUrl").val();

            console.log(url)
            var clientId = $('#SiteID').val();
            var clientKey = $('#Key').val();
            var userId = $('#UserID').val();

            let jsonObject = {};
            jsonObject = JSON.parse($('#Detail').val());
            var orderId = jsonObject.Payments[0].Service;
            var amountOrder = jsonObject.Payments[0].Amount;

            $.ajax(url, {
                method: 'POST',
                data: JSON.stringify({ client_id: clientId, client_secret: clientKey, customerid: userId, orderid: orderId, amount: amountOrder }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (token) {
                    checkIFrameUse();
                    var access_token = token.access_token;
                    $('#token').val(access_token);
                    console.log(`Action ${action}`);

                    if (action === "P") {
                        $("#EntryPoint").off('submit', GenerateToken);
                        var url=webpayURL + "/Payment";
                        $('#EntryPoint').attr('action', url) ;
                        $('#EntryPoint').submit();
                    }
                    else if (action === "R") {
                        $("#EntryPoint").off('submit', GenerateToken);
                        var url = webpayURL + "/Payment?IsARegister=true";
                        $('#EntryPoint').attr('action', url);
                        $('#EntryPoint').submit();
                    }
                    else if (action === "Jwt") {
                        prettyPrint();
                        $('[type="submit"]', '#EntryPoint').attr('disabled', false);
                    }
                },
                error: function (message) {
                    console.log(message);
                    alert(message.responseText);
                    $('[type="submit"]', '#EntryPoint').attr('disabled', false);
                }
            });
        }

        function checkIFrameUse() {
            // if use IFRAME
            if ($("#NoHeader").val() == '1') {
                $(".container-info").hide();
                $(".result-frame").show();
                $("#EntryPoint").attr("target", "agilpay_frame");
            }
        }


        function showLoading(show = false) {
            if (show) {

            } else {

            }
        }

        // addEventListener support for IE8
        function bindEvent(element, eventName, eventHandler) {
            if (element.addEventListener) {
                element.addEventListener(eventName, eventHandler, false);
            } else if (element.attachEvent) {
                element.attachEvent('on' + eventName, eventHandler);
            }
        }

        // Listen to message from child window [Iframe]
        bindEvent(window, 'message', function (e) {

            var data = JSON.parse(e.data);
            console.log(data);

            var pretty = JSON.stringify(data);
            var textarea = document.getElementById('message');
            textarea.value += "\n" + pretty;
            textarea.scrollTop = textarea.scrollHeight

            if (data.action == 1) { //{ action: 1, event: 'load', description: 'load Success' }
                setTimeout(showLoading, 1000);
            } else if (data.action == 2) { //{ action: 2, event: 'submit', description: 'Processing Payment' }
                showLoading(true);
            } else if (data.action == 3) { //{ action: 3, event: 'Resize', description: 'Resizing' }
                var iframe = document.getElementById("agilpay_frame");
                iframe.height = data.height;
            }
        });

    </script>
}